*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NanumGothicRegular";
    src: url(/fonts/Nanum_Gothic/NanumGothic-Regular.ttf); }

.layout {
    display: grid;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'footer';
    height: 100vh;
    background-color: #742380;
}

nav div img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

nav .nav-item a{
    text-decoration: none;
    color: black;
    font-family: "NanumGothicRegular";
    font-size: 20px;
}

nav .nav-item a:hover{
    color: #CE3B8E;
    transition: 0.6s;
}

.carrito-vacio{
    margin-top: 100px;
    margin-left: 600px;
    color: black;
    font-family: "NanumGothicRegular";
}

.carrito-vacio a{
    text-decoration: none;
    color: black;
}

.cart-container{
    margin-left: 200px;
}

.totales{
    margin-left: 200px;
    color: black;
    font-family: "NanumGothicRegular";
}

#totales button{
    font-family: "NanumGothicRegular";
    color: black;
    background-color: #ff575c;
    border-radius: 5px;
    padding: 5px 10px;
}

#totales button:hover{
    color: #e60050;
    transition: 0.6s;
}

.tarjeta-producto button{
    width: 20px;
    font-family: "NanumGothicRegular";
    color: black;
    background-color: #ff575c;
    border-radius: 5px;
    margin-bottom: 25px;
}

.tarjeta-producto button:hover{
    color: #e60050;
    transition: 0.6s;
}

.tarjeta-producto figcaption{
    color: black;
    font-family: "NanumGothicRegular";
    padding-top: 5px;
}

.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 475px) {

    .cart-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

.cart-container{
    margin-left: 70px;
}

    .tarjeta-producto img{
        width: 115px;
        height: 167px;
    }

    .tarjeta-producto button{
        margin-top: 5px;
        width: 125px;
        height: 35px;
        font-size: 12px;
    }

    .cart-container .tarjeta-producto figcaption{
        font-size: 14px;
    }

    .carrito-vacio{
        margin-left: 0px;
        text-align: center;
    }

    .cart-container .tarjeta-producto .boton .boton-menos{
        width: 40px;
        height: 25px;
    }

    .cart-container .tarjeta-producto .boton .boton-mas{
        width: 40px;
        height: 25px;
    }

    .totales{
        margin-left: 0px;
        text-align: center;
    }
}

























#cuenta-carrito{
    text-decoration: none;
    color: black;
    position: absolute;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
}

#cuenta-carrito:hover{
    color: #CE3B8E;
}