*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NanumGothicRegular";
    src: url(/fonts/Nanum_Gothic/NanumGothic-Regular.ttf); }

.layout {
    background-color: #742380;
}

nav div img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

nav .nav-item a{
    text-decoration: none;
    color: black;
    font-family: "NanumGothicRegular";
    font-size: 20px;
}

nav .nav-item a:hover{
    color: #CE3B8E;
    transition: 0.6s;
}

.productos-container{
    margin-top: 200px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.productos-container .tarjeta-producto{
    margin-bottom: 50px;
    margin-left: 140px;
}

.productos-container .tarjeta-producto figcaption{
    padding-top: 10px;
    font-family: "NanumGothicRegular";
    font-size: 18px;
    color: black;
}

.tarjeta-producto button{
    font-family: "NanumGothicRegular";
    color: black;
    background-color: #ff575c;
    border-radius: 5px;
    padding: 5px 10px;
}

.tarjeta-producto button:hover{
    color: #e60050;
    transition: 0.6s;
}

.cuenta-carrito{
    text-decoration: none;
    color: black;
    position: absolute;
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
}

#cuenta-carrito:hover{
    color: #CE3B8E;
}


@media (max-width: 475px) {

    .productos-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

.productos-container .tarjeta-producto{
    margin-left: 30px;
}

    .tarjeta-producto img{
        width: 115px;
        height: 167px;
    }

    .tarjeta-producto button{
        margin-top: 5px;
        width: 125px;
        height: 35px;
        font-size: 12px;
    }

    .productos-container .tarjeta-producto figcaption{
        font-size: 14px;
    }
}